<table>
  <thead>
    <style align = "center">
table, th, td {
  border: 1px solid black;
  font-size: 18px;
} 
</style>
<tr>
  <th>Description</th>
</tr>
 <% @likes.each do |t|  %>
 <tr><td><%= t.description %></td>
 <td><%= link_to 'VIEW DETAILS', "/posts/#{t.post.id}/view"%></td></tr>
 <% end %>
  </thead>
</table>
<%= link_to 'BACK',posts_path %>